<!DOCTYPE html>
<html ng-app="ZapisyApp"lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
<!--
    <link href="lib/bootstrap/bootstrap.css" rel="stylesheet">

     Add custom CSS here 
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
-->
    <link href="css/global.css" rel="stylesheet">
    <link href="css/calendar.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet">
  </head>

  <body ng-controller="MainController">
      
      <div id="ed-sidebar">
          <ul>
              <li>Plan</li>
              <li ng-repeat="dana in dane" ng-click="changeSubject(dana)" ng-class="[services.type(dana.kind.id), isDone(plan, dana) ? 'type6' : '']">{{dana.name}} {{isDone(plan,dana.id)}}</li>
          </ul>    
      </div>
      <div id="ed-center">
        <div id="ed-navbar">
          <ul>
              <li ng-repeat="nauczyciel in nauczyciele" ng-click="changeTeacher(nauczyciel)">{{nauczyciel.nazwa}}</li>
          </ul>
        </div>
        <div id="ed-content">
            <div id="ed-calendar">
     
      <div class="hours">
          <p class="lecture1">7:30</p>
          <p class="lecture2">9:15</p>
          <p class="lecture3">11:15</p>
          <p class="lecture4">13:15</p>
          <p class="lecture5">15:15</p>
          <p class="lecture6">17:05</p>
          <p class="lecture7">18:55</p>
      </div>
      <div class="day">
          <div class="header">
              Poniedziałek
          </div>
          <div ed-przedmioty przedmioty="przedmioty.pn" plan="plan" typ="typ">
          </div>
          <div ng-repeat="zajecie in plan | filter:services.pn" style="
              top:{{services.top(zajecie.hour.start)}}%;
              height:{{services.height(zajecie.hour.start, zajecie.hour.finish)}}%;
              min-height:{{services.height(zajecie.hour.start, zajecie.hour.finish)}}%;"  class="taken">
          </div>
      </div>
      <div class="day">
          <div class="header">
              Wtorek
          </div>
          <div ed-przedmioty przedmioty="przedmioty.wt" plan="plan" typ="typ">
          </div>
          <div ng-repeat="zajecie in plan | filter:services.wt" style="top:{{services.top(zajecie.start)}}%;height:{{services.height(zajecie.start, zajecie.koniec)}}%;min-height:{{services.height(zajecie.start, zajecie.koniec)}}%;" class="taken">
          </div>
      </div>
      <div class="day">
          <div class="header">
              Środa
          </div>
          <div ed-przedmioty przedmioty="przedmioty.sr" plan="plan" typ="typ">
          </div>
          <div ng-repeat="zajecie in plan | filter:services.sr" style="top:{{services.top(zajecie.start)}}%;height:{{services.height(zajecie.start, zajecie.koniec)}}%;min-height:{{services.height(zajecie.start, zajecie.koniec)}}%;" class="taken">
          </div>
      </div>
      <div class="day">
          <div class="header">
              Czwartek
          </div>
          <div ed-przedmioty przedmioty="przedmioty.cz" plan="plan" typ="typ">
          </div>
          <div ng-repeat="zajecie in plan | filter:services.czw" style="top:{{services.top(zajecie.start)}}%;height:{{services.height(zajecie.start, zajecie.koniec)}}%;min-height:{{services.height(zajecie.start, zajecie.koniec)}}%;" class="taken">
          </div>
      </div>
      <div class="day">
          <div class="header">
              Piątek
          </div>
          <div ng-repeat="przedmiot in przedmioty.pt" style="top:{{services.top(przedmiot.hour.start)}}%;height:{{services.height(przedmiot.hour.start, przedmiot.hour.finish)}}%;min-height:{{services.height(przedmiot.hour.start, przedmiot.hour.finish)}}%;" ng-click="addLecture(services.findInPlan(plan, termin.nazwa),termin)"class="lecture ng-class:services.isChosen(termin.active, przedmiot.typ)">
              {{przedmiot.teacher.name}}
              <p>{{termin.start}} - {{termin.koniec}}</p>
              <span>Miejsce</span>
          </div>
          <div ng-repeat="zajecie in plan | filter:services.pt" style="top:{{services.top(zajecie.start)}}%;height:{{services.height(zajecie.start, zajecie.koniec)}}%;min-height:{{services.height(zajecie.start, zajecie.koniec)}}%;" class="taken">
          </div>
      </div>
      
  </div>
        </div>
      </div>
      {{plan}}
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
  </body>
  </html>